@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
}

/* HEADER STYLING */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: red;
  font-size: 5rem;
  margin-top: 20px;
  margin-bottom: 0px;
}
/* BODY STYLING */
.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-comp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.won {
  color: green;
}

.lost {
  color: orangered;
}

.play-again {
  background-color: red;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-family: "Luckiest Guy", cursive;
  box-shadow: 5px 5px #888888;
}

.play-again:hover {
  font-size: 17px;
}

.play-again:active:hover {
  font-size: 14px;
}

.computer-score {
  margin-left: 30px;
}

.user-score {
  margin-left: 50px;
}

.rps-icon {
  width: 15%;
  cursor: pointer;
}

.rps-icon:hover {
  transform: scale(0.9);
}

/* FOOTER STYLING */

footer {
  position: absolute;
  bottom: 0;
  right: 50px;
  height: 60px;
  float: right;
  font-size: 1rem;
}

a {
  color: black;
}
